<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Countdown</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<h1 contenteditable spellcheck="false" id="timer"></h1>

	<script src="/js/script.js"></script>

  <script>
    var countDownDate = new Date("Jun 22, 2021 2:00:00").getTime();

    var x = setInterval(function() {

      var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
      link.type = 'image/x-icon';
      link.rel = 'shortcut icon';
      link.href = 'http://simpforkayla.co/assets/devil1.png';
      document.getElementsByTagName('head')[0].appendChild(link);

      var now = new Date().getTime();
    
      var distance = countDownDate - now;
    
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      document.getElementById("timer").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
    
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "TIMES UP <3";
        var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
        link.type = 'image/x-icon';
        link.rel = 'shortcut icon';
        link.href = 'http://simpforkayla.co/assets/devil2.png';
        document.getElementsByTagName('head')[0].appendChild(link);
      }
    }, 1000)
  </script>
</body>

</html>